<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%= msg %>
    <form method="post" action="/helo">
        <input type="text" name="input1"
            value="<%= input %>">
        <input type="submit">
    </form>
  </body>
 
</html>